<header class="app-navbar">

    <div class="navbar-container">

        <a routerLink="/" class="app-logo">

            <div class="logo-icon">

                <i class="bi bi-lightning-charge-fill"></i>

            </div>

            <div class="logo-content">

                <strong>Centro Pokémon</strong>

                <span>Alto Nível</span>

            </div>

        </a>

        <nav class="navbar-navigation">

        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-house-fill"></i>
            <span>Dashboard</span>
        </a>

            <a routerLink="/treinadores" routerLinkActive="active">

                <i class="bi bi-people-fill"></i>

                <span>Treinadores</span>

            </a>

            <a routerLink="/pokemons" routerLinkActive="active">

                <i class="bi bi-stars"></i>

                <span>Pokémon</span>

            </a>

            <a routerLink="/planos" routerLinkActive="active">

                <i class="bi bi-journal-bookmark-fill"></i>

                <span>Planos</span>

            </a>

            <a routerLink="/matriculas" routerLinkActive="active">

                <i class="bi bi-card-checklist"></i>

                <span>Matrículas</span>

            </a>

        </nav>

    </div>

</header>